#1.Handling missing values in all the columns

In [26]:
import pandas as pd

# Load the CSV file from the GitHub URL
data = pd.read_csv('https://raw.githubusercontent.com/SREEJA-KALLU/PDS-ICP/refs/heads/main/train.csv')


# Checking the shape and columns
print("Shape of DataFrame after loading:", data.shape)
print("Columns after loading:", data.columns.tolist())

# Checking for missing values
missing_data = data.isnull().sum()
missing_percentage = (missing_data / len(data)) * 100
missing_summary = pd.DataFrame({"Missing Values": missing_data, "Percentage": missing_percentage})
missing_summary = missing_summary[missing_summary["Missing Values"] > 0]
print(missing_summary)

# Converting 'Mileage', 'Engine', and 'Power' to numeric by extracting the numeric part
data['Mileage'] = data['Mileage'].astype(str).str.extract('(\d+\.?\d*)')[0].astype(float)
data['Engine'] = data['Engine'].astype(str).str.extract('(\d+\.?\d*)')[0].astype(float)
data['Power'] = data['Power'].astype(str).str.extract('(\d+\.?\d*)')[0].astype(float)

# Imputing  missing values using the mean for numerical columns
data['Mileage'] = data['Mileage'].fillna(data['Mileage'].mean())
data['Engine'] = data['Engine'].fillna(data['Engine'].mean())
data['Power'] = data['Power'].fillna(data['Power'].mean())
data['Seats'] = data['Seats'].fillna(data['Seats'].mean())

# Dropping 'New_Price' column due to a high percentage of missing values
data.drop(columns=['New_Price'], inplace=True)

# Checking for any remaining missing values
missing_values_after = data.isnull().sum()
print("Missing values after imputation:")
print(missing_values_after)

Shape of DataFrame after loading: (5847, 14)
Columns after loading: ['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']
           Missing Values  Percentage
Mileage                 2    0.034206
Engine                 36    0.615700
Power                  36    0.615700
Seats                  38    0.649906
New_Price            5032   86.061228
Missing values after imputation:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

#Justification for Handling Missing Values

In my analysis of the used cars dataset, I took the following steps to handle missing values:

Identifying Missing Values: I first checked each column for missing values and calculated their percentages to understand the extent of the issue.

Converting to Numeric: I converted the Mileage, Engine, and Power columns into numeric format by extracting only the numeric part. This was necessary for accurate analysis.

Imputing Missing Values: For the columns with missing values (Mileage, Engine, Power, and Seats), I replaced the missing entries with the mean of their respective columns. This approach helps keep as much data as possible without losing valuable information.

Dropping Irrelevant Columns: I dropped the New_Price column because it had a very high percentage of missing values (86%). Keeping such a column could lead to bias in the analysis.

Final Check: I performed a final check to ensure there were no remaining missing values in the dataset.

#2.Removing the units from some of the attributes

In [27]:

# Removing units
data['Mileage'] = data['Mileage'].astype(str).str.extract(r'(\d+\.?\d*)')[0].astype(float)
data['Engine'] = data['Engine'].astype(str).str.extract(r'(\d+\.?\d*)')[0].astype(float)
data['Power'] = data['Power'].astype(str).str.extract(r'(\d+\.?\d*)')[0].astype(float)

# Checking the changes
print(data[['Mileage', 'Engine', 'Power']].head())

   Mileage  Engine   Power
0    19.67  1582.0  126.20
1    13.00  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10

#3.Changing the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot encoded value.

In [28]:

# One-hot encoding 'Fuel_Type' and 'Transmission'
data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'], drop_first=False)

# Converting  one-hot encoded columns to integers (0s and 1s)
one_hot_columns = data.filter(regex='Fuel_Type_|Transmission_').columns
data[one_hot_columns] = data[one_hot_columns].astype(int)

# Checking the first few rows to confirm changes
print(data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                 1                   0                 0
1                 0                   0                 1
2                 1                   0                 0
3                 1                   0                 0
4                 1                   0                 0

   Transmission_Automatic  Transmission_Manual
0                       0                    1
1                       0                    1
2                       0                    1
3                       1                    0
4                       0                    1

#4.Creating one more feature - current age of the car

In [29]:
from datetime import datetime

# Calculating the car's age
current_year = datetime.now().year
data['Car_Age'] = current_year - data['Year']

# Checking the dataset with the new 'Car_Age' column
print(data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0                 1                   0                 0
1                 0                   0                 1
2                 1                   0                 0
3                 1                   0                 0
4                 1                   0                 0

   Transmission_Automatic  Transmission_Manual  Car_Age
0                       0                    1        9
1                       0                    1       13
2                       0                    1       12
3                       1                    0       11
4                       0                    1       11

#5.Performing select, filter, rename, mutate, arrange and summarize with group by operations

In [30]:
# 1. Selecting specific columns
selected_data = data[['Name', 'Year', 'Kilometers_Driven', 'Price']]

# 2. Filtering rows where Price is greater than 5
filtered_data = selected_data[selected_data['Price'] > 5]

# 3. Renaming 'Kilometers_Driven' to 'KMs_Driven'
filtered_data = filtered_data.rename(columns={'Kilometers_Driven': 'KMs_Driven'})

# 4. Mutate: Creating a new column 'Price_per_KM'
filtered_data['Price_per_KM'] = filtered_data['Price'] / filtered_data['KMs_Driven']

# 5. Arrange: Sorting by Price in descending order
sorted_data = filtered_data.sort_values(by='Price', ascending=False)

# 6. Summarize: Calculating the average Price
average_price = sorted_data['Price'].mean()

# Displaying final results
sorted_data.head(), average_price

(                                             Name  Year  KMs_Driven   Price  \
 3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  2017       25000  160.00
 5620                   Lamborghini Gallardo Coupe  2011        6500  120.00
 5752                       Jaguar F Type 5.0 V8 S  2015        8000  100.00
 1457              Land Rover Range Rover Sport SE  2019       26013   97.07
 1917                           BMW 7 Series 740Li  2018       28060   93.67

       Price_per_KM
 3952      0.006400
 5620      0.018462
 5752      0.012500
 1457      0.003732
 1917      0.003338  ,
 14.477028160575193)