#Reading Dataset

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv')

#Finding the number of the columns in the data frame

In [2]:
df.shape[1]

12

#Finding the mean of the house prices

In [3]:
df['price'].mean()

234144.26395939087

#Finding the median of the house prices

In [4]:
df['price'].median()

213750.0

#Finding the different types of property in the dataset

In [5]:
df['type'].unique()

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)

#Finding the maximum price of a "condo" in the dataset

In [6]:
df[df['type'] == 'Condo']['price'].max()

360000

#Finding the mean of each type of property in the dataset

In [7]:
df.groupby('type')['price'].mean()

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

#Finding the count of different property types in dataset

In [8]:
df['type'].value_counts()

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64